/******** RESET ********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdf0f0;
    color: #4a0e0e;
}

/******** NAVBAR ********/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7b0a0a;
    padding: 15px 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.logo {
    color: #fdf0f0;
    font-size: 22px;
    font-weight: bold;
    font-family: Brush Script MT;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fdf0f0;
    text-decoration: none;
    font-family: Arial;
}

.nav-links li a:hover {
    color: #ffd6d6;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    color: #fdf0f0;
    cursor: pointer;
}

.menu-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #fff5f5;
    padding: 20px;
    width: 27%;
    border-radius: 16px;
    box-shadow: 0 6px 14px rgba(183, 18, 38, 0.25);
    /* border-top: 6px solid #b11226; */
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 26px rgba(183, 18, 38, 0.35);
}

.card img {
    width: 100%;
}

/* button {
    margin-top: 10px;
    background: linear-gradient(135deg, #7b0a0a, #b11226);
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
} */

section {
    padding: 40px 20px;
    text-align: center;
}

#contact {
    margin-top: 5%;
}

footer {
    background: linear-gradient(90deg, #7b0a0a, #b11226);
    color: white;
    text-align: center;
    padding: 15px;
}